

// var overrides

$body-bg: #2A9D8F;

$theme-colors: (
    'primary': #F4A261
);

// global

.over{
    overflow: hidden;
}

// navigation

.navbar-dark .navbar-nav .nav-link{
    color: black !important
}

// carousel

#carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption{
    width: 35vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(42, 157, 143, 0.6);
}
#carouselExampleCaptions .carousel-indicators{
    margin-bottom: 0;
}
#carouselExampleCaptions .carousel-inner .carousel-item img{

    animation: imgCarouselZoom 25s;
}
@keyframes imgCarouselZoom{
    from{
        transform: scale(1,1);
    }
    to{
        transform: scale(1.2, 1.2);
    }
}

// Gallery
.add-margin{
    margin-top: 8em;
}
.heading{
    font-size: 11em;
    opacity: .5;
    position: absolute;
    left: .3em;
}

.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
  }
  
  #image-gallery .modal-footer{
    display: block;
  }
  
  .thumb{
    margin-top: 15px;
    margin-bottom: 15px;
  }

// kontakt-form

form .btn-center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

// bootstrap sass file
@import 'node_modules/bootstrap/scss/bootstrap';
